* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
}

p{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}